.DS_Store
.cocciconfig
.mailmap
.gitattributes
.gitignore
modules.builtin
modules.order
!/.gitattributes
!/gitignore
*.qcow2
*.zip
*.o
*.cmd
/oscourse/linux-stable/*
!/oscourse/linux-stable/cs300
!/oscourse/linux-stable/Makefile
!/oscourse/linux-stable/arch/x86/entry/syscalls/syscall_32.tbl
!/oscourse/linux-stable/arch/x86/entry/syscalls/syscall_64.tbl
