.DS_Store
/oscourse/linux-stable/.cocciconfig
/oscourse/linux-stable/.gitattributes
/oscourse/linux-stable/.gitignore
/oscourse/linux-stable/.mailmap
*.qcow2
*.zip
/oscourse/linux-stable/*
!/oscourse/linux-stable/cs300
!/oscourse/linux-stable/Makefile
!/oscourse/linux-stable/arch/x86/entry/syscalls/syscall_32.tbl
!/oscourse/linux-stable/arch/x86/entry/syscalls/syscall_64.tbl
